extends ../layouts/default
block content
    section
      #inner-banner
      #inner-content-box
        #content-box
          .container
            #offerings
              include ../views/icon.jade
              .col-md-9#content-data
                h2 #{data.healthcareproviders[0].heading}
                .row
                  .col-md-4
                    if data.healthcareproviders.length
                          img(id="image",src=data.healthcareproviders[0].image.url)
                  .col-md-8
                      ul
                        li
                          | #{data.healthcareproviders[0].text}
                        li
                          | #{data.healthcareproviders[0].subText}
                        li
                          | #{data.healthcareproviders[0].shortText}
                        li
                          | #{data.healthcareproviders[0].subString}
                        li
                          | #{data.healthcareproviders[0].shortString}
              include ../views/footermenunavigation