extends ../layouts/default
block content
    section
      #inner-banner
      #inner-content-box
        #content-box
          .container
            #offerings
              include ../views/icon.jade
              .col-md-9#content-data
                h2 #{data.informationreportingstrategys[0].heading}
                .row
                  .col-md-4
                    if data.informationreportingstrategys.length
                          img(id="image",src=data.informationreportingstrategys[0].image.url)
                  .col-md-8
                      p
                        | #{data.informationreportingstrategys[0].text}
                        br
                      p
                        | #{data.informationreportingstrategys[0].subText}
                        br
                      p
                        | #{data.informationreportingstrategys[0].shortString}
                        br
                      p
                        | #{data.informationreportingstrategys[0].longString}
              .expand
              include ../views/listingmenu
              