extends ../layouts/default
block content
    section
      #inner-banner
      #inner-content-box
        #content-box
          .container
            #offerings
              include ../views/icon.jade
              .col-md-9#content-data
                h2 #{data.mangementteams[0].heading}
                .row
                  .col-md-4
                    if data.mangementteams.length
                          img(id="image",src=data.mangementteams[0].image.url)
                  .col-md-8
                    h4
                      | #{data.mangementteams[0].mangementTeamtext}
                    h4
                      | #{data.mangementteams[0].mangementTeamsubtext}
                    p
                      | #{data.mangementteams[0].mangementTeamshortstring}
                    p
                      | #{data.mangementteams[0].mangementTeamlongstring}
              include ../views/companyinfolistmenu
            