extends ../layouts/default
block content
    section
      #inner-banner
      #inner-content-box
        #content-box
          .container
            #offerings
              include ../views/icon.jade
              .col-md-9#content-data
                h2 #{data.predictivemodelings[0].heading}
                .row
                  .col-md-4
                    if data.predictivemodelings.length
                        if data.predictivemodelings[0].image.exists
                          img(id="image",src=data.predictivemodelings[0].image.url)
                  .col-md-8
                    p 
                      | #{data.predictivemodelings[0].text}
                      
                      ul
                        li  
                          | #{data.predictivemodelings[0].subText1}
                        li  
                          | #{data.predictivemodelings[0].subText2}
                        li  
                          | #{data.predictivemodelings[0].subText3}
                        li  
                          | #{data.predictivemodelings[0].subText4}
                        li  
                          | #{data.predictivemodelings[0].subText5}
                        li  
                          | #{data.predictivemodelings[0].subText6}
                        li  
                          | #{data.predictivemodelings[0].subText7}
                        li  
                          | #{data.predictivemodelings[0].subText8}
                        li  
                          | #{data.predictivemodelings[0].subText9}
                        li  
                          | #{data.predictivemodelings[0].subText10}
                    p
                      | #{data.predictivemodelings[0].shortString}
              .expand
              include ../views/listingmenu
